---
- name: place opstools repo
  yum: name=http://buildlogs.centos.org/centos/7/opstools/x86_64/common/centos-release-opstools-1-2.el7.noarch.rpm state=installed

#- name: install python-firewall 
#  yum: name=python-firewall state=installed
